.nav__container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  justify-content: center;
  height: 100px;
  align-items: center;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1333333333);
}
@media screen and (max-width: 768px) {
  .nav__container {
    height: 69px;
  }
}
