.card__container {
  min-width: 260px;
  min-height: 231px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  transition: width 0.3s ease;
}

.card__container img {
  width: 100%;
  border-bottom: 1px solid #000000;
}
.card__title {
  font-size: 1rem;
  font-weight: 400;
}

.card__price {
  font-weight: 900;
}
